<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form class="form">
        <div class="content-input">
            <div class="input">
                <input name="nombre" type="text" required id="nombre" title="Ingrese su nombre" placeholder="Su nombre">
            </div>
        </div>
        <div class="content-input">
            <div class="input">
                <input name="telefono" type="tel" pattern="[0-9]*" required id="telefono" placeholder="Su telefono de contacto">
            </div>
        </div>
        <div class="content-input">
            <div class="input">
                <input name="email" type="email" required id="email" title="Ingrese su email" placeholder="Su email">
            </div>
        </div>
        <div class="content-input">
            <div class="input">
                <textarea name="mensaje" required rows="5" id="mensaje" title="Comentarios" placeholder="Comentarios"></textarea>
            </div>
        </div>
        <div class="content-input">
            <div class="input">
                <button class="bottom">Enviar</button>
            </div>
        </div>
    </form>
</body>
</html>